.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px; // Adjust based on your Navbar height
}