/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
/* Base colors and default variables */
:root {
  --font-family-base: 'Rubik', sans-serif;

  /* Light theme colors */
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --primary-color-light: #1a73e8; /* Example primary color for light theme */
  --secondary-color-light: #e9ecef;
  --background-gradient-light: linear-gradient(180deg, transparent 18em, #fff 30em);

  /* Dark theme colors */
  --background-color-dark: #082042; /* Updated dark background color */
  --text-color-dark: #ffffff;
  --primary-color-dark: #4e8ef7; /* Example primary color for dark theme */
  --secondary-color-dark: #2a3b4f;
  --background-gradient-dark: linear-gradient(180deg, transparent 18em, #0D2C5C 30em); /* Dark blue gradient */

  /* Set initial default colors */
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background-gradient: var(--background-gradient-light);
}

/* Reset and global styles */
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0;
  padding: 0;
}

/* HTML and Body settings */
html {
  scrollbar-gutter: stable; /* Always reserve space for scrollbar */
  overflow-y: scroll; /* Always show vertical scrollbar */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* Apply theme-specific colors */
html[data-theme='light'] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background-gradient: var(--background-gradient-light);
}

html[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --background-gradient: var(--background-gradient-dark);
}

/* General styles */
body {
  font-family: var(--font-family-base);
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.4s, color 0.4s, background 0.4s;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Combined gradient and grid lines */
  //background: var(--background-gradient), url('/grid-cell.svg') 0 0 / auto repeat;
}

main {
  transition: color 0.1s, background-color 0.4s; //Faster Text Transition to Prevent flicker effect
}