.site-footer {
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Adjust border color as needed */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  font-size: 0.9rem; /* Adjust font size as needed */
}

.footer-section {
  flex: 1;
  max-width: 200px; /* Adjust width as needed */
  margin: 0px 50px;
  text-align: left;
}

.footer-section h3 {
  margin-bottom: 0px;
  font-size: 1rem; /* Adjust font size as needed */
}

.footer-section p {
  margin-bottom: 0px;
  font-size: 0.85rem; /* Adjust font size as needed */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--color-primary);
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  font-size: 0.7rem; /* Adjust font size as needed */
  color: inherit;
  transition: color 0.3s;
}

.social-links li a:hover {
  color: var(--color-primary);
}

.dark-mode {
  --color-bg: --color-dark-bg; /* Dark mode background color */
  --color-text: #fff; /* Dark mode text color */
  --color-primary: #1e90ff; /* Dark mode primary color */
}

.light-mode {
  --color-bg: --color-light-bg; /* Light mode background color */
  --color-text: #333; /* Light mode text color */
  --color-primary: #007bff; /* Light mode primary color */
}
