.button {
    border-radius: 2rem;
    background-image: linear-gradient(180deg, #34A8F7 0%, #0B8CE4 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    color: #fff;
    display: inline-block;
    padding: 0.875em 1.2em;
    font-size: 1.11em;
    background-color: #E7E7E7;
/*borderRadius: "20px",*/
/*padding: "0.75rem 1rem",*/
    line-height: 1rem;
/*color: "var(--color-grey)",*/
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    margin: 2px 8px;
/*paddingBlock: "1px",
paddingInline: "6px",*/
/*borderWidth: "2px",
borderStyle: "outset",
borderColor: "#E7E7E7",*/
    border: none;
    border-image: initial;
    opacity: 90;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.button:hover {
    opacity: 0.9;
}